body{margin:10px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:dimgray;

}

#titular{
    font-size: 30px;
    color:whitesmoke;
    font-family: 'monospace', Courier, monospace;
    font-weight:bolder;
    text-align: center;
}

#nombre{color:whitesmoke;
        text-align: center;
    }

#legajo{text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    background-color: lightblue;
    color: black;
}

nav li:hover {
    background-color: blue;
}


img{
    display: block;
    margin: 0 auto;
    width: 55vw;
}

#podio{
    text-align: center;
}
@media only screen and (max-width: 768px) {
    /* Si es una pantalla de Telefono*/
    [class*="col-"] {
      width: 100%;
    }
}
    

#tarjeta-bp{
    background-color:  lightblue;
    
}

#tarjeta-birra{
    background-color:  lightblue;
    display: inline;
}

#tarjeta-voraz{
    background-color:  lightblue;
    
}

#tarjeta-burguer{
    background-color:  lightblue;
}

#tarjeta-kiddo{
    background-color:  lightblue;
}

#tarjeta-ftruck{
    background-color:  lightblue;
}





#menu{
    font-size: larger;

}
#contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

#contenedor-flex div {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    font-family: monospace,'Courier New', Courier;
}

#contenedor-flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-flex2 div{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    font-family: monospace,'Courier New', Courier;
    
}
#contenedor-flex3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#contenedor-flex3 div{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    font-family: monospace,'Courier New', Courier;
    
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: lightblue;
  }
  
  tr:nth-child(even) {
    background-color: lightblue;
  }
  
  caption {
    caption-side: top;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .restaurant-image {
    max-width: 100px;
    max-height: 100px;
  }
  
  @media (max-width: 768px) {
    .col-4 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 768px) {
    .col-4 {
      width: 33.33%;
      float: left;
    }
  }
  
  @media (max-width: 480px) {
    table th,
    table td {
      padding: 5px;
      font-size: 12px;
    }
  }
  

/*Posicionamiento
div.relative {
    position: relative;
    left;50px;
    border: 3px
