body{margin:10px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:burlywood;

}

#titular{
    font-size: 30px;
    color: red;
    font-family: 'monospace', Courier, monospace;
    font-weight:bolder;
    text-align: center;
}

#nombre{color:blueviolet;
        text-align: center;
    }

#legajo{text-align: center;
}
#foto{display: block;  
    margin: auto;

}

img{
    display: block;
    margin: 0 auto;
    width: 55vw;
}

#podio{
    text-align: left;
}
@media only screen and (max-width: 768px) {
    /* Si es una pantalla de Telefono*/
    [class*="col-"] {
      width: 100%;
    }
}
    

#tarjeta-bp{
    background-color:  lightblue;
}

#menu{
    font-size: larger;

}
#contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

#contenedor-flex div {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    font-family: monospace,'Courier New', Courier;
}

#contenedor-flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-flex2 div{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    font-family: monospace,'Courier New', Courier;
    
}
#contenedor-flex3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#contenedor-flex3 div{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    font-family: monospace,'Courier New', Courier;
    
}

/*Posicionamiento
div.relative {
    position: relative;
    left;50px;
    border: 3px
